ion-card-content {
    padding: 2px;
}

ion-button {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    width: 70%;
}

.dropDown>ion-label {
    padding: 0px;
}

.checkbox-label {
    font-size: 15px;
}