<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides>
        <ion-slide>
            <div class="slide">
                <img [src]="imageLink" />
                <h2><b>About Us</b></h2>
                <p>The institute is located in 47 acres of green campus at Andheri (W), the fastest growing suburb of Mumbai. The campus also houses four Bhavan’s Institutions of great repute namely Bhavan’s College (the arts, commerce and science college),
                    Sardar Patel College of Engineering – Government aided Engineering college, S.P. Jain Institute of Management and Research, a management institute and A.H. Wadia, higher secondary school.In 1957, the Bharatiya Vidya Bhavan conceived
                    the idea of establishing an engineering college in Mumbai. Sardar Patel College of Engineering was inaugurated on 19th August 1962. In 1995 self-financed engineering courses were added to it and it functioned as Sardar Patel College
                    of Engineering (Unaided-wing) conducting Electronics Engineering, Computer Engineering and Information Technology Courses and Masters course in Electronics since 2005 till 2008.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img [src]="imageLink" />
                <h2><b>Institutional Values</b></h2>
                <p>1. Integrity<br>2. Excellence<br>3. Social Sensitivity<br>4. Globalization: Vasudev Kutumbakam – The whole universe is our family.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img [src]="imageLink" />
                <h2><b>Vision & Mission</b></h2>
                <p>Keeping in view the growing and changing needs of Industry and society, we at S.P.I.T. are committed to creating an environment which will raise the intellectual and moral standards of our students. Our endeavor is to strive for the overall
                    development of students, thereby enabling them to accept challenges. In tune with this our vision is

                    <b>To build a renowned institute which will produce graduate engineers with global competency and social sensitivity.</b></p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img [src]="imageLink" />
                <h2><b>Founder's Message</b></h2>
                <p>“Education would fail ignominiously in its objective if it manufactures only a robot and called him an economic man stressing the adjective economic and forgetting the substantive man. A university cannot afford to ignore the cultural
                    aspects of education whatever studies it specilizes in. Science is a means, not an end. Whereas culture is an end in itself. Even though you may ultimately become a scientist, a doctor, or an engineer, you must while in college, absorb
                    fundamental values which will make you a man of culture. An engineer has not merely to build bridges; he has to be a devoted husband, a kind father, a friendly neighbour, a dutiful citizen, and a man true to himself. He will have trials
                    and tribulations; his heart will fail him at times; he will then need the strength which true culture alone can give.”

                    <br><b>-Kulpati Dr. K. M. Munshi</b></p>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>