<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 2rem;">
    <ion-row>
      <ion-col>
        <dashboard-data iconName="megaphone" title="Annoucements"></dashboard-data>
      </ion-col>
      <ion-col>
        <dashboard-data iconName="checkbox" title="Attendance"></dashboard-data>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dashboard-data iconName="time" title="Events"></dashboard-data>
      </ion-col>
      <ion-col>
        <dashboard-data iconName="book" title="Library"></dashboard-data>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>Timetable</ion-col>
      <ion-col>Exam</ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>