<ion-header>
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="margin-top: 2rem;">
        <ion-row>
            <ion-col>
                <dashboard-content iconName="megaphone" title="Annoucement"></dashboard-content>
            </ion-col>
            <ion-col>
                <dashboard-content iconName="checkbox" title="Attendance"></dashboard-content>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <dashboard-content iconName="time" title="Timetable"></dashboard-content>
            </ion-col>
            <ion-col>
                <dashboard-content iconName="book" title="Exams"></dashboard-content>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>