<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
      <ion-title style="letter-spacing: 1px;">
        Users
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-list *ngFor="let user of users; let i = index" lines="none">
  
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="user.avatar || defaultImage">
        </ion-avatar>
        <ion-label>
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <p>{{user.email}}</p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-icon name="trash" (click)="deleteUser(i)"></ion-icon>
          <ion-icon name="create" (click)="editUser(i)"></ion-icon>
        </ion-avatar>
        
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addUser()" color="tertiary">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>