<ion-header>
    <ion-toolbar>
        <ion-title>
            Sign Up
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form #f="ngForm" (ngSubmit)="nextPage()">
        <ion-card>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input #usernames="ngModel" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input #emails="ngModel" type="email" [(ngModel)]="email" name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone No</ion-label>
                <ion-input #phones="ngModel" [(ngModel)]="phone" name="phone"></ion-input>
            </ion-item>

            <ion-item style="margin-top: 1rem;">
                <ion-label>Date of Birth</ion-label>
                <ion-datetime #dobs="ngModel" name="dob" [(ngModel)]="dob" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <div>
                <section style="margin-top: 2rem;">
                    <ion-button expand="block" (click)="presentAlert()">Register</ion-button>
                </section>

                <section style="margin-top: 1rem;">
                    <ion-button expand="block" (click)="presentActionSheet()">Already an user?</ion-button>
                </section>

                <section style="margin-top: 1rem;">
                    <ion-button expand="block" (click)="nextPage()">Preview detail</ion-button>
                </section>
            </div>
        </ion-card>
    </form>
</ion-content>